$cor-fundo: #fbfef4;
$cor-fundo2: #fff;
$cor-primaria: #47ab00;

$preto-transparente-30: #0000006a;
$preto-transparente-1a: #0000002c;
$preto-transparente-03: #00000008;
$preto-transparente-70: #000000b3;

$branco: $cor-fundo2;